/* General styles */

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

body {
  margin: 0;
}

h2,
p {
  margin: 0;
}

/* Card styles */

.card {
  width: 35em;
  height: 22em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

/* Card header */

.card header {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

/* Card main content */

article {
  height: 12em;
  background-color: rgba(0, 0, 0, 0.5);
}

/* paragraph of the content */
article p {
  padding: 1em;
  color: rgba(240, 255, 255, 0.803);
}

/* image in the content */

.card article img {
  max-height: 100%;
  float: right;
}

/* card footer */

.card footer {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

/* paragraph of the footer */
footer p {
  font-size: 1.5em;
  line-height: 30px;
}

/* box space of the header and footer */

.card header,
.card footer {
  box-sizing: border-box;
  height: 5em;
  padding: 1em;
}
