* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background: #ccc;
}

article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    text-align: center;
    font-size: 16pt;
}

section {
    margin-top: 15em;
}

address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
}

h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */


article {
    background-image: url(top-image.png),
        url(bottom-image.png),
        linear-gradient(180deg, rgba(100, 100, 105, 1) 0%, rgba(220, 220, 232, 1) 9%, rgba(213, 213, 230, 1) 90%, rgba(191, 198, 196, 1) 98%);
    background-image: url(top-image.png),
        url(bottom-image.png),
        rgb(158, 158, 158);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-color: white;
    border: solid 1mm white;
}

h1 {
    background-image: url(logo.png);
    /* filter: drop-shadow(5px 10px 10px black); */
    border-radius: 1000px;
    box-shadow: 2px 3px 3px  black;
}