section {
  width: 80%;
  padding: 1em 0.5em;
  border: 1px solid black;
  border-radius: 5px;
}

table {  
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;  
}

thead th:nth-child(1) {
  width: 13%;
}

thead th:nth-child(2) {
  width: 4%;
}

thead th:nth-child(3) {
  width: 4%;
}

thead th:nth-child(4) {
  width: 15%;
}


th,
td {
  padding: 0.3em;
}

thead th,
tbody th,
tbody td:nth-child(4) {
  text-align: left;
}

thead th:nth-child(2),
thead th:nth-child(3),
tbody td:nth-child(2), 
tbody td:nth-child(3) {
  text-align: center;
}

thead {
  border-top: 1px solid #999;
}

tbody {
  border-bottom: 1px solid #999;
}

tfoot {
  border-bottom: 1px solid #999;
}

tfoot th {
  text-align: right;
}

tfoot td {
 /* padding-left: 2.7em; */
  color: red;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}
